* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}

.pokemon-container {
display: flex;
align-items: center;
justify-content: center;
width: 90vw;
height: 90vh;
}

.pokemon-one {
	width: 300px;
	height: 300px;
	padding: 30px;
	margin-right: 5px;
	text-align: center;
	background-color: rgb(81, 160, 180);
}

.pokemon-two {
	width: 300px;
	height: 300px;
	padding: 30px;
	margin-left: 5px;
	text-align: center;
	background-color: rgb(158, 206, 184);
}

.pokemon-image {
	width: 200px;
}
